body {
}

td{
    font-size: 14px;
}

.final{
    font-size: 18px;
}

#myContainer{
    margin-top: 0px;
}

#myTable{
    border: none;
} 

#myjumbotron{
 padding-top: 10px;   
}

#correct1{
    background-color: none;
}

.correctShow{
    background-color: green;
}

#sortable {
    list-style-type: none;
    margin: 0; 
    padding: 0;
    width: 60%;
}
#sortable li {
    margin: 0 3px 3px 3px;
    padding: 0.4em; padding-left: 1.5em;
    font-size: 1.4em;
    height: 18px;
}
#sortable li span {
    position: absolute;
    margin-left: -1.3em;
}

#correctDiv{
    background-color: none;
}
